<div class="row align-items-center justify-content-center">
  <div class="col-md-4 col-sm-6 col-xs-12 mt-5">
    <h1 class="text-center">ECommerce App</h1>
    <h5 class="text-muted text-center">Register</h5>
    <div class="card mt-4">
      <div class="card-body">
        <alert [type]="alert.type" [isOpen]="alert.isOpen">
          {{alert.message}}
        </alert>
        <form [formGroup]="form" (ngSubmit)="register()">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" formControlName="email" class="form-control">
            <app-input-helper [fg]="form" [fc]="form.controls.email"></app-input-helper>
          </div>
          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" id="password" name="password" formControlName="password" class="form-control">
            <app-input-helper  [fg]="form" [fc]="form.controls.password"></app-input-helper>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Register</button>
          </div>
        </form>
        <span>
          Already have an account? <a routerLink="/login">Login here</a>
        </span>
      </div>
    </div>
  </div>
</div>

