<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      ECommerce
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/orders">
            Orders
            <span *ngIf="totalOrders" class="badge badge-pill badge-danger">{{totalOrders}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="float-right">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link">
            {{email}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

