
<ng-template [ngIf]="formGroup" [ngIfElse]="elseBlock">
  <!-- {{formGroup.submit}} -->
  <span *ngIf="(formGroup.invalid && (formGroup.touched || formGroup.dirty))
     && formControl.invalid ">
    <span *ngIf="formControl.errors.required" class="text-danger">
      This field is required
    </span>
  </span>
</ng-template>
<ng-template #elseBlock>
  <span *ngIf="formControl.invalid && (formControl.touched || formControl.dirty)">
    <span *ngIf="formControl.errors.required" class="text-danger">
      This field is required
    </span>
  </span>
</ng-template>
